<h1>Listings</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Title</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.category %></td>
        <td><%= listing.title %></td>
        <td><%= listing.quantity %></td>
        <td><%= listing.price %></td>
        <td><%= listing.user_id %></td>
        <td><%= link_to 'Show', listing %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
